// TODO: set this to reference file containing CNVs from DGV
// You can download the required file from the UCSC DGV annotation file, "dgvMerged.txt"
// which was located at this URL on 5th feb 2015:
// http://hgdownload.soe.ucsc.edu/goldenPath/hg19/database/dgvMerged.txt.gz
// Make sure you unzip it.
DGV_CNVS=false

// ======================= Advanced properties =======================

TOOLS="$BASE/tools"

GATK="$TOOLS/gatk/2.3.9"

EXCAVATOR="tools/excavator/2.0"
XHMM="$BASE/pipeline/tools/xhmm/trunk/build/execs"  

// These are found in the path by default, but you can 
// set specific paths here if you wish to resolve to a particular
// samtools version
SAMTOOLS="samtools"

CRAMTOOLS="$TOOLS/cramtools/2.1/cramtools.jar"

CONIFER="$TOOLS/conifer/0.2.2"

GNGS_JAR="$TOOLS/groovy-ngs-utils/1.0.9/groovy-ngs-utils.jar"

BPIPE="$BASE/tools/bpipe/0.9.12/bin/bpipe"

SAVVYCNV_HOME="$TOOLS/SavvySuite"

// ======================= Languages =======================


// Groovy distribution for running in the pipeline (should be the same
// as that which the bundled bpipe uses, as well as the one that
// the groovy-ngs-utils is compiled with
GROOVY="$TOOLS/groovy/3.0.10/bin/groovy"

GROOVY_ALL_JAR="$TOOLS/groovy/3.0.10/lib/*"

JAVA="java"

PYTHON="python"

PERL5="perl"

