<!doctype html>
<!-- vim: set sw=4:ts=4:expandtab:cindent: -->
<%/*
    Groovy Template for Ximmer Main Index

        -   runDirectories  :  the directory containing all the runs
        
*/%>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Ximmer Report <%if(outputDirectory) { %>for <%=outputDirectory%> <% } %></title>
        

        <link rel="stylesheet" href='http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css'>
        
        <link rel="stylesheet" href='http://cdnjs.cloudflare.com/ajax/libs/jquery-layout/1.3.0-rc-30.79/layout-default.css'>
        
        <script type='text/javascript'>
            var events = {};
            var runs = <%=groovy.json.JsonOutput.toJson(runDirectories*.name)%>;
            var analysisName = "<%=analysisName%>";
            var simulationType = "<%=simulation_type%>";
            var analysisConfig = <%=groovy.json.JsonOutput.toJson(analysisConfig)%>;
            var callerIdMap = <%=groovy.json.JsonOutput.toJson(callerIdMap)%>;
        </script>
        
        ${assets}
        
        <script type='text/javascript' src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
        
        <script>
        var require = { 
            waitSeconds : 30
        }
        </script>
        <script type='text/javascript' src='require.js' data-main='summary_report.js'></script>        
        
        <style type='text/css'>
            .ui-tabs .ui-tabs-panel {
                padding: 0px 0px;
            }
            /* I can't figure out why scroll bars appear: for now, just hide overflow */
            .ui-layout-center.ui-layout-pane-center, .ui-layout-north.ui-layout-pane {
                overflow: hidden !important;
            }
        </style>

        <script type='text/javascript'>
            var layout = null;
            \$(document).ready(function() {
                
                \$('body').layout({ applyDefaultStyles: true });
                layout = \$('#innerLayout').layout({ applyDefaultStyles: true });
                layout.sizePane("north",50);
            });
            
            
        </script>
    </head>
    <body>
        <div id='innerLayout' class='ui-layout-center'>
        
          <ul class='ui-layout-north'>
            <%if(enableTruePositives) { %>
                <li><a href="#simoverview">Overview</a></li>
                <li><a href="#simrocs">ROC Curves</a></li>
                <li><a href="#sample_counts">Sample Counts</a></li>
                <li><a href="#genome_dist">Position</a></li>
                <li><a href="#sizebreakdown">Size Breakdown</a></li>
                <li><a href="#qscorecalibration">Quality Score Calibration</a></li>
            <% } /* end if enableTruePositives */ %>
            
            <%runDirectories.eachWithIndex { File runDir, runIndex  -> %>
                <li><a href="#runcalls<%=runIndex%>" >Run <%=runIndex+1%></a>
            <%}%>
          </ul>
     
          <div class="ui-layout-center">
          
            <%if(enableTruePositives) { %>
                <div id=simoverview>
                    <%=summaryHTML%>
                </div> <!-- simoverview -->
                
                <div id=cnvsummarytabs>
               </div> 
            <% } /* end if enableTruePositives */ %>
               
            <%runDirectories.eachWithIndex { File runDir, runIndex  -> %>
            <div id=runcalls<%=runIndex%> >
                <iframe id="run<%=runIndex%>Iframe" style="position: absolute; height: 100%; border: none" src="about:blank" width='100%' height='100%'></iframe>
            </div>             
            <%}%>
      </div> <% /* innerLayout */ %>
      <script type='text/javascript' src='cnv.js'></script>
    </body>
</html>