
html {
    xheight: 100%;
}

body {
    font-family: helvetica;
    xheight: 100%;
    font-size: 9pt;
}

h2 {
 font-size: 16px;
}

.ui-tabs-anchor {
     line-height: 2.0em;
}

#filterHelp {
    font-size: 80%;
    font-style: italic;
    color: #888;
}

table th { text-align: left; }
table tr td:nth-child(1) { text-align: center; }
hr { clear: both; margin: 2em 0; }
img.cnvimg { display : block; }
table.cnvTable {
    font-size: 10px;
    font-family: verdana;
}
table.cnvTable th, table.cnvDetailTable th {
    font-weight: bold;
}
.ui-layout-south {
    font-size: 16px;
    font-family: verdana;
}
.mydialog {
    display: none;
}
#genelist {
    height: 200px;
    width: 100%;
}
.coveragePlotDiv {
    float: right;
}
.highlighted { background-color: #ffeeff !important; }
.truncated { background-color: #ffffee !important; }
.genelist td:nth-of-type(3) { font-weight: bold; color: #ff6600 !important; }

/* jqModal base Styling courtesy of;
    Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
    the Window's z-index value will be set to 3000 by default (via jqModal.js). */
    
.jqmWindow {
display: none;

position: fixed;
top: 17%;
left: 50%;

margin-left: -300px;
width: 600px;

background-color: #EEE;
color: #333;
border: 1px solid black;
padding: 12px;
}

#helptable {
    font-size: 11px;
    border-collapse: collapse;
}

#help {
    border-radius: 6px 6px 0 0;
    height: 60%;
}
#helptitle {
    background-color: #444;
    color: #fcfcfc;
    padding: 4px;
}
#helpbody {
    padding: 1em;
    overflow: scroll;
    font-size: 11px;
    height: 90%;
}
#helptable th, #helptable td  {
    border: solid 1px #444;
    padding: 0.5em;
}
#helptable th {
    font-weight: bold;
    background-color: #444;
    color: #fcfcfc;
}
.jqmWindow#help {
    padding: 0 0 1em 0;
}            
.jqmOverlay { background-color: #000; }

#ampliconButton {
    position: absolute;
    top: 1em;
    right: 5em;
}

#cnvVariants { 
    font-size: 75%;
}
#cnvVariants { 
    border-collapse: collapse;
}

#cnvVariants th { 
    background-color: black;
    border: solid 1px #444; 
    color: white;
    padding: 3px;
}
#cnvVariants td { 
    border: solid 1px #444; 
    padding: 3px;
}

#tags { float: right; }

.assignedTag, .rowTagDiv {
    background-color: red;
    border-radius: 5px;
    color: white;
    display: inline;
    padding: 3px 5px;
    font-size: 75%;
    margin: 3px;
}

.rowTagDiv {
    font-size: 55%;
}

.tag0 {
    background-color: #33aa33;
}

.tag1 {
    background-color: #3333ff;
}

.tag2 {
    background-color: #aa33aa;
}

.tag3 {
    background-color: #ff6600;
}
   
.unassignedTag {
    display: none;
}

#copyDiv {
    font-size: 9px;
    font-family: courier;
    background-color: white;
    padding: 2px;
    border: solid 1px #55f;
    margin-top: 1em;
}

/* table styles  */

table.summarytable {
    border-collapse: collapse;
    color: #444;
    border-radius: 10px;
    margin: 0.2in 0.1in 0.2in 0.1in;
    font-size: 11px;
}

table.summarytable thead {
    font-size: 16px;
    color: #222;
    background-color: #87BAF1;
}

table.summarytable th, table.summarytable td {
    border: solid 1px #777;
    padding: 3px;
}

table.summarytable th.callerCount {
    text-align: center;
    font-weight: normal;
}

#sizebreakdown img {
    width: 20%;
}

h3.qualCalTitle {
    text-align: center;
    font-size: 14px;
}

.c3-axis-x-label {
    font-size: 12px;
    font-weight: bold;
}
#cnv_roc_curve {
    width: 600px;
    height: 400px;
 } 
 
 .sizeSliderLabel {
    width: 500px;
    text-align: center;
    font-family: arial;
    margin: 10px 0px;
 }        
 
 #cnvs_by_sample_chart_container {
    width: 1024px;
    height: 500px;
 } 

 #cnv_size_breakdown {
    width: 6in;
    height: 4in;
 }
 
 .nv-axisMaxMin {
    display: none;
 }
 
 text.nv-axislabel {
     font-weight: bold;
     font-size: 16px;
 }
 